/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-white: #FFFFFF;

  --special-yellow-dark: #F0C52E;
  --special-yellow-light: #F7E296;
  --special-green: #91C92F;

  --status-negative: #F6DADA;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.navigation-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  list-style-type: none;
}

.drop-down-list {
  font-size: 15px;
  line-height: 20px;
  list-style-type: none;
}

.slide h2{
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slide table {
  letter-spacing: 0.1em;
}

.slide th {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
}

.slide td {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.text-button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.popular {
  list-style-type: none;
}

.popular p {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.service-menu {
  list-style-type: none;
}

.service h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service li {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.service p {
  letter-spacing: 0.1em;
}

.logotypes-list {
  list-style-type: none;
}

.info-block h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.info-block  ul {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.footer-menu {
  color: var(--basic-white);
  opacity: 0.7;
  list-style-type: none;
}

.footer-services {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
  list-style-type: none;
}

.footer-text {
  color: var(--basic-white);
}

.footer-social {
  list-style-type: none;
}

.footer-social svg {
  opacity: 0.3;
}

.inner-page h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
  list-style-type: none;
}

.inner-page h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.inner-page legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.pricerange p {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.color-filter ul {
  list-style-type: none;
}

.color-filter li {
  font-size: 14px;
  line-height: 19px;
}

.bluetooth-filter ul {
  list-style-type: none;
}

.bluetooth-filter li {
  font-size: 14px;
  line-height: 19px;
}

.sort-options{
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.catalog-card h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: none;
}

.catalog-card p {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
}

.pagination {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  list-style-type: none;
}

.pagination .page-number {
  opacity: 0.3;
}

.device-logo:hover,
.text-link:hover,
.breadcrumbs a:hover,
.pagination a:hover,
.htmlacademy-logo:hover,
.footer-services a:hover {
  opacity: 0.6;
}

.popular img:hover {
  background-color: var(--special-yellow-dark);
}

.popular img:active {
  opacity: 0.3;
  background-color: var(--special-yellow-dark);
}

.device-logo:active,
.text-link:active,
.popular-link p:active,
.pagination .backward:active,
.pagination .forward:active,
.footer-menu a:active,
.footer-social svg:hover,
.htmlacademy-logo:active,
.footer-services a:active {
  opacity: 0.3;
}

.breadcrumbs a:active,
.footer-social svg:active {
  opacity: 0.1;
}

.pagination .page-number:active,
.footer-menu a:hover {
  opacity: 1;
}
